<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72017A1D297F07EB00EA83F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72017A32297F07F800EA83F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724C65D3297DD6830062A23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724C65DB297DD6830062A23A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724D61312975C26D009F9676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724D61392975C26D009F9676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>724D61AE29771AD9009F9676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72807CA4296CE64C001B8F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72807CBB296CEBAD001B8F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72807CC3296CEBAD001B8F10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72A6EFDE29777BEC002A4F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72A6EFE629777BEC002A4F8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
